*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
font-family:Arial, Helvetica, sans-serif;
font-size: 17px;
color:#696239;
line-height: 1.6;
}
#showcase{
    background-image: url(sea.jpg);
    background-size: cover;
    background-position: center;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 0 20px;
}
#showcase h1{
    font-size: 50px;
    line-height: 1.2;
}
#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-size: 20px;
    text-decoration: none;
    color: #926239;
    border: 1px solid#926239;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#showcase .button:hover{
    background-color: #926239;
    color:#fff;
}
#section-a{
    background-color: #926239;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#section-b{
    background-color: #f4f4f4;
    color: #926239;
    padding: 20px;
    text-align: center;
}
#section-c{
    display: flex;
    /* flex-direction: row; */
    /* height: 400px; */
    /* font-size: 100px; */

}
#section-c .box-1,#section-c .box-3{
    background-color: #926239;
    color: #fff;
}
#section-c .box-2{
background-color: #f9f9f9 ;
color: #926239;

}
#section-c div{
    padding: 20px;
}